<!-- formulario de olvido de contraseña -->
<!-- extends "base.html" para traer la estructura base del HTML es decir header o demas -->
{% extends "auth/base.html" %} {% block title %}Iniciar Sesión{% endblock %} {%
block content %}
<div class="links">
        <p>← ¿Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">Iniciar sesión</a></p>
</div>
<h2 class="title2">¿Olvidaste tu contraseña?</h2>
<form class="form_style" method="POST">
    {{ form.hidden_tag() }} {{ form.email.label(class="label_field", size=32) }} {{ form.email(class="input_field", size=32) }} <br />
    {{ form.submit(class="input_submit", size=32) }}
</form>

{% endblock %}
