<!-- Forumlario de resetear contraseña  -->


{% extends "auth/base.html" %}
{% block title %}Restablecer{% endblock %}
{% block content %}
<h2>Restablecer contraseña</h2>
<form class="form_style" method="POST">
    {{ form.hidden_tag() }}
    {{ form.password.label(class="label_field", size=32) }} {{ form.password() }} <br>
    {{ form.confirm_password.label(class="label_field", size=32) }} {{ form.confirm_password() }} <br>
    {{ form.submit(class="input_submit", size=32) }}
</form>
{% endblock %}
