{% extends "./layouts/layout-user.html" %}

{% block styles %}
{{ super() }}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/detalles_producto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/categorias.css') }}">
{% endblock %}

{% block content %}
<main>
    <section id="detalle-producto"></section>
</main>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/home/product_details.js') }}"></script>
<script src="{{ url_for('static', filename='js/carrito/añadir_producto.js') }}"></script>
{% endblock %}