{% extends "user/user_perfil/user_info.html" %}

{% block content_userInfo %}

<div class="content_mi_perfil">

    <div class="foto_perfil">
        <p id="home_link">
            ← Regresar al home <a href="{{ url_for('main.home') }}">Volver</a>
        </p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyeynfqeriAIx5x2Po5IJakUUTrRyRWf1PnA&s" alt="">
        <h1><strong>Perfil del usuario</strong></h1>
        <p>Esta cuenta se encutra activa</p>
    </div>

    <div class="perfil_info">
        <h3><strong>Información del usuario</strong></h3>
        <label class="label_field">Nombre</label>
        <input type="text" value="{{ current_user.nombre }}" class="input_field" disabled>
        <label class="label_field">Apellido</label>
        <input type="text" value="{{ current_user.apellido }}" class="input_field" disabled>
        <label class="label_field">Correo</label>
        <input type="text" value="{{ current_user.email }}" class="input_field" disabled>
        <label class="label_field">Dirección</label>
        <input type="text" value="{{ current_user.direccion }}" class="input_field" disabled>
        <label class="label_field">Teléfono</label>
        <input type="text" value="{{ current_user.telefono }}" class="input_field" disabled>
    </div>
</div>
</div>

{% endblock %}