{% extends "layout-admin.html"%}

{% block styles %}
{{ super() }}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block content %}
<form id="form-nuevo-usuario">
    <h2>Registrar nuevo usuario</h2>

    <label>Nombre:
        <input type="text" name="nombre" required>
    </label>

    <label>Apellido:
        <input type="text" name="apellido" required>
    </label>

    <label>Email:
        <input type="email" name="email" required>
    </label>

    <label>Teléfono:
        <input type="text" name="telefono">
    </label>

    <label>Dirección:
        <input type="text" name="direccion">
    </label>

    <label>Rol:
        <select name="id_rol" required>
            {% for rol in roles %}
            <option value="{{ rol.id_rol }}">{{ rol.rol }}</option>
            {% endfor %}
        </select>
    </label>


    <label>Contraseña:
        <input type="password" name="password" required>
    </label>

    <button type="submit">Registrar usuario</button>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('web_v1.admin.static', filename='js/crud_usuarios/crear_usuarios.js') }}"></script>
{% endblock %}