{% extends "layout-admin.html"%}

{% block styles %}
    {{ super() }}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('web_v1.admin.static', filename='css/crud_usuarios/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('web_v1.admin.static', filename='css/crud_usuarios/stock-styles.css') }}">
{% endblock %}

{% block content %}
    <section id="stock-container-section">
        <article class="stock-container-article">
                <a id="btn-crear-usuario" href="{{ url_for('web_v1.admin.crear_usuarios')}}">Crear usuario</a>
                <br>
                <table id="tabla-usuarios" class="display table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody> </tbody>
                </table>
        </article>
    </section>

    <!-- Modal detalles usuario -->
    <section id="modal-detalles-usuario" class="modal">  
        <form id="modal-usuario-content">
            <article class="modal-article">
                <div class="modal-header">
                    <button id="close-modal-btn-usuario" class="btn-modal">❌</button>
                    <h4 id="modal-usuario-title"></h4>
                </div>
                <picture class="modal-img-container">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="imagen usuario">
                </picture>
            </article>
            <article class="modal-article">
                <div id="detalles-container-usuario">
                    <h2>Detalles</h2>
                    <!-- Aquí se cargan los campos dinámicamente con editar_usuarios.js -->
                </div>
            </article>
        </form>
    </section>
{% endblock %}

{%  block scripts %} 
    {{ super() }}
    <!-- Cargar jQuery primero -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('web_v1.admin.static', filename='js/crud_usuarios/datatables.min.js') }}"></script>
    <script src="{{ url_for('web_v1.admin.static', filename='js/crud_usuarios/crud_usuarios.js') }}"></script>
    <script src="{{ url_for('web_v1.admin.static', filename='js/crud_usuarios/crear_usuario.js') }}"></script>
    <script src="{{ url_for('web_v1.admin.static', filename='js/crud_usuarios/editar_usuarios.js') }}"></script>
    <script src="{{ url_for('web_v1.admin.static', filename='js/crud_usuarios/modal_borrar_usuario.js') }}"></script>
{% endblock %}
