{% extends "./layouts/layout-admin.html"%}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/DataTables/datatables.min.css') }}">
{% endblock %}

{% block content %}
    <section id="stock-container-section">
        <article class="stock-container-article">
                <table id="tabla-productos" class="display table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Categoría</th>
                        <th>Marca</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí irán las filas dinámicamente -->
                </tbody>
                </table>
        </article>
        <div id="information-container">

            <h2 >INFORMACION ADICIONAL</h2>
            <article class="stock-container-article information-article">
                <div class="informacion-div">
                    <h4>Mas vendido Global:</h4>
                </div>
                <div class="informacion-div">
                    <h4>Mas vendido mes:</h4>
                </div>
                <div class="informacion-div">
                    <h4>Menos vendido:</h4>
                </div>
                <div class="informacion-div">
                    <h4>Mas asequible:</h4>
                </div>
                <div class="informacion-div">
                    <h4>Mas Costoso:</h4>
                </div>
            </article>
        </div>
    </section>
{% endblock %}

{%  block script %} 
    {{ super() }}
    <script src="{{ url_for('static', filename='js/DataTables/script.js') }}"></script>
{% endblock %}