{% extends "./layouts/layout-admin.html" %}

{% block content %}
<div class="head_dashboard">
    <H3>Dashboard</H3>
    <p>🔽</p>
</div>
<div class="container_dashboard">
    <div id="cont_1" class="cont_dashboard">
        <div class="card_dashboard" id="card_dashboard_1">
            <p>ventas</p>
            <h5>$10.000.000</h5>
            <p>Lorem, ipsum dolor.</p>
        </div>
    </div>
    <div id="cont_2" class="cont_dashboard">
        <div class="card_dashboard" id="card_dashboard_2">
            <p>ventas</p>
            <h5>$10.000.000</h5>
            <p>Lorem, ipsum dolor.</p>
        </div>
    </div>
    <div id="cont_3" class="cont_dashboard">
        <div class="card_dashboard" id="card_dashboard_3" >
            <p>ventas</p>
            <h5>$10.000.000</h5>
            <p>Lorem, ipsum dolor.</p>
        </div>
    </div>
    <div id="cont_4" class="cont_dashboard">
        <div class="card_dashboard" id="card_dashboard_4">
            <img src="../../static/images/grafiaca_5.jpg" alt="">
        </div>
    </div>
    <div id="cont_5" class="cont_dashboard">
        <div class="card_dashboard" id="card_dashboard_5">
            <img src="../../static/images/grafica_3.jpg" alt="">
        </div>
    </div>
</div>


{% endblock %}