{% extends "./layouts/layout-admin.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout/carrusel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout/home.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout/dashboard_admin.css')}}">

{% endblock %}
{% block content %}

<div class="container_dashboard_admin">
    <div class="header_dashboard">
        <p>DASHBOARD</p>
    </div>
    <div class="cont_1">
        <div id="cont_m_1">
            <p>Ventas</p>
            <h3>$1.937</h3>
        </div>
    </div>

    <div class="cont_2">
        <div id="cont_m_2">
            <p>Órdenes</p>
            <h3>1.937</h3>
        </div>
    </div>

    <div class="cont_3">
        <div id="cont_m_3">
            <p>Poco Stock</p>
            <h3>7</h3>
        </div>
    </div>

    <div class="cont_4">
        <div id="cont_m_4">
            <p>Registrados</p>
            <h3>193</h3>
        </div>
    </div>

    <div class="cont_5">
        <div id="cont_m_5">
            <img src="../../static/images/p2.jpg" alt="">
        </div>
    </div>

    <div class="cont_6">
        <div id="cont_m_6">
            <img src="../../static/images/grafica_3.jpg" alt="">
        </div>
    </div>

    <div class="cont_7">
        <div id="cont_m_7">
            <img src="../../static/images/inv.jpg" alt="">
        </div>
    </div>

    <div class="cont_8">
        <div id="cont_m_8">
            <p>Ventas</p>
            <h3>$1.937</h3>
        </div>
    </div>
    



   
</div>

{% endblock %}