.logo_marca{
    margin-top: 100px;
    padding: 10px;
    display: flex;

}
.logo_marca img{
    height: 300px;
    width: 100%;
}
.logo_marca h1{
    font-size:7rem;
    position: absolute;
    top: 50px;
    left: 40px;
    color: white;
    
}
.logo_marca h4{
    position: absolute;
    color: white;
    top: 250px;
    left: 40px ;
}
/* -------------------------------------------------------------------------------------------- */
