<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles/form.css') }}">

</head>

<body>
    <div class="container">

        <div class="imagen">
            <h2>Bienvenido a Buildify</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia assumenda consequatur repellat adipisci
                perspiciatis corporis obcaecati quaerat, quisquam, cupiditate voluptates optio! Tenetur quo
                exercitationem culpa eligendi quidem quod ducimus non?</p>
            <img src="../static/images/loo.png" alt="login">

        </div>
        <div class="formulario">
            <form class="form_style" method="POST">
            <h2>Iniciar Sesión</h2>

                {{ form.hidden_tag() }}

                <div class="input_style">
                    {{ form.email.label }}<br>
                    {{ form.email(class="input_field", size=32) }}
                </div>

                <div class="input_style">
                    {{ form.password.label }}<br>
                    {{ form.password(class="input_field", size=32)  }}
                </div>

                <div class="submit_style">
                    {{ form.submit(class="input_submit", size=32) }}
                </div>
            </form>
            <div class="register">
                <!-- <a href="register.html">Registrarme</a> -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, iste?</p>
            </div>
            <a href="{{ url_for('auth.register') }}">Regístrate aquí</a>
            <a href="{{ url_for('auth.forgot_password') }}">Olvido su contraseña</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>