
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h2>Crear Cuenta</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.nombre.label }}<br>
            {{ form.nombre(size=32) }}
        </div>

        <div>
            {{ form.apellido.label }}<br>
            {{ form.apellido(size=32) }}
        </div>

        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </div>

        <div>
            {{ form.direccion.label }}<br>
            {{ form.direccion(size=32) }}
        </div>
        
        <div>
            {{ form.telefono.label }}<br>
            {{ form.telefono(size=32) }}  
        </div>  

        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>

        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}
        </div>

        <div>
            {{ form.submit() }}
        </div>
    </form>
    <a href="{{ url_for('auth.login') }}">Volver al login</a>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
